<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('상품 목록 화면')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_2.css}" />
</head>

<body>
  <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

  <div id="loading"></div>

    <!-- 메인 영역 -->
    <div class="main">
      <!-- nav바 하단 사진영역 -->
      <div class="category" id="categoryBackground">
        <!-- 동적으로 변경될 부분 -->
        <a class="go_back"></a>
        <!-- 사진영역 제목 -->
        <h1 class="category_name"></h1>
        <!-- 사진 영역 박스 -->
        <div class="category_list">
          <ul class="list">
            <!-- 동적으로 생성될 리스트 -->
          </ul>
        </div>
        <div class="category_link">
          <a th:href="@{#}">제품 비교</a>
          <a th:href="@{#}">연장 서비스 플랜 ESP 보기</a>
        </div>

      </div>
      
      <!-- 탭메뉴 영역 -->
      <div class="tapMenu_wrapper">
        <ul class="tapMenu_list">
          <!-- 동적으로 생성될 탭 메뉴 -->
        </ul>
      </div>

      <div class="list_info_wrapper">
        <div class="list_info">
          <div class="list_info_name">제품</div>
          <div class="list_info_num"></div>
        </div>
          <ul class="item_sort">
            <li><a th:href="@{#}" class="sort sort_recent sort_active">최신순</a></li>
            <li><a th:href="@{#}" class="sort sort_high_price">높은가격순</a></li>
            <li><a th:href="@{#}" class="sort sort_low_price">낮은가격순</a></li>
          </ul>
      </div>
      
      <div class="list_container"></div>
      

      <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
      <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
     
  

  <!-- 스크립트 파일 -->
  
  <script>const type = `[[${type}]]`;</script> <!-- controller에서 보내는 type값을 자바스크립트에서 쓸 수 있게 함 -->
  <script>const type2 = `[[${type2}]]`;</script>
  <!-- <script>const category = `[[${category}]]`;</script>  -->
  <!-- controller에서 보내는 category값을 자바스크립트에서 쓸 수 있게 함 -->
  <script th:src="@{/assets/js/ProductList.js}"></script>
  
</body>
</html>
