<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('마이페이지 : 주문/배송 조회')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_3.css}" />
</head>

<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>
    <div class="app">
        <div class="wrapper">
            <div class="container_w1200 page_top_btm_pad order_list">

                <h2 class="order_box_tit font_48_700"> 주문/배송 조회 </h2>

                <!-- 진행 중인 주문 -->
                <div class="content_container">
                    <p class="font_24_700"> 진행 중인 주문 </p>
                    <div>
                        <ul class="order_step_container">
                            <li>
                                <div class="icon_container"> <i class="ico_order_step"></i> </div>
                                <span class="order_status"> 입금대기 </span>
                                <a class="order_step_cnt"> <span class="order_step_cnt_num">0</span>건 </a>
                            </li>
                            <li>
                                <div class="icon_container"> <i class="ico_order_step"></i> </div>
                                <span class="order_status"> 결제완료 </span>
                                <a class="order_step_cnt"> <span class="order_step_cnt_num" th:text="${payComplete}"></span>건 </a>
                            </li>
                            <li>
                                <div class="icon_container"> <i class="ico_order_step"></i> </div>
                                <span class="order_status"> 배송준비 </span>
                                <a class="order_step_cnt"> <span class="order_step_cnt_num">0</span>건 </a>
                            </li>
                            <li>
                                <div class="icon_container"> <i class="ico_order_step"></i> </div>
                                <span class="order_status"> 배송중 </span>
                                <a class="order_step_cnt"> <span class="order_step_cnt_num">0</span>건 </a>
                            </li>
                            <li>
                                <div class="icon_container"> <i class="ico_order_step"></i> </div>
                                <span class="order_status"> 배송완료 </span>
                                <a class="order_step_cnt"> <span class="order_step_cnt_num">0</span>건 </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list_dot">
                            <li> 구매확정이 완료된 주문은 진행 중인 주문에 포함되지 않으며, 진행 상태에 따라 배송지 변경, 취소, 교환 반품 신청이 가능합니다. </li>
                            <li> 자사 택배가 아닌 기타 운송수단(퀵, 화물배송)의 경우는 임의 송장번호가 적용되어 있습니다. </li>
                            <li> 기타 운송수단의 경우는 고객센터(1588-0911)를 통해 배송 정보 문의 바랍니다. </li>
                        </ul>
                    </div>
                </div>
                

                <!-- 주문 내역 -->

                <div class="content_container order_list">
                    <p class="font_24_700"> 주문 내역 </p>
                    <!-- 주문 내역 조회 - 기간 -->
                    <div class="date_search_container">
                        <div>
                            <div class="date_search">
                                <div class="date_container">
                                    <div class="divide_parent term"> <span>3개월</span> </div>
                                    <div class="divide_parent term"> <span class="divide">6개월</span> </div>
                                    <div class="divide_parent term year active"> <span class="divide">1년</span> </div>
                                </div>
                                <div>
                                    <input type="date" class="date1"/>
                                    <span> ~ </span>
                                    <input type="date" class="date2"/>
                                </div>
                                <div>
                                    <button class="bg_black search"> 조회 </button>
                                </div>
                            </div>
                        </div>
                        <div class="claim">
                            <div class="divide_parent"> <div> 주문 취소 <span class="claim_cnt"> <span class="claim_num">0</span>건 </span> </div> </div>
                            <div class="divide_parent"> <div class="divide"> 교환 반품 <span class="claim_cnt"> <span class="claim_num">0</span>건 </span> </div> </div>
                        </div>
                    </div>


                    <!-- 주문 내역 테이블 -->

                    <div class="col_table_wrap order_list order_sheet_list">

                        <div class="col_table">
    
                            <!-- 테이블 헤더 -->
                            <div class="col_table_head">
                                <div class="col_table_row order_list_row">
                                    <div class="col_table_cell"> 주문날짜/번호 </div>
                                    <div class="col_table_cell"> 제품 </div>
                                    <div class="col_table_cell"> 수량 </div>
                                    <div class="col_table_cell"> 처리상태 </div>
                                </div>
                            </div>

                            <!-- 테이블 바디 -->
                            <div class="col_table_body order_sheet_body">

                        </div>
                    </div>

                </div>


                <!-- 주문/배송 시 주의사항 -->
                <div class="order_notice">
                    <ul class="list_dot">
                        <strong class="info_tit"> 주문/배송 시 주의사항 </strong>
                        <li> 배송완료 후 배송이 완료된 일로부터 4일 경과 후 자동으로 구매확정 됩니다. </li>
                        <li> 자사 택배가 아닌 기타 운송수단(퀵, 화물배송)의 경우 임의 송장번호가 적용됩니다. 기타 운송수단의 경우 고객센터(1588-0911)를 통해 배송 정보 문의 바랍니다. </li>
                        <li> 기타 운송수단의 경우, 상품을 발송 처리한 일로부터 4일 경과 후 자동으로 구매확정 됩니다. </li>
                        <li> 주문 취소 접수 후에는 사용하신 쿠폰은 사라지며, 재 주문 시에 다시 복원되지 않습니다. </li>
                        <li> 처리 상태가 배송 준비중, 배송 중, 배송 완료 상태인 경우는 온라인 상으로 주문 취소 접수가 되지 않으며, 소니코리아 고객지원센터(1588-0911)를 통해서 주문 취소 요청을 하실 수 있습니다.  </li>
                        <li> 신용카드 영수증, 현금영수증 신청을 클릭하시면 출력하실 수 있습니다. (PC버전에서만 가능합니다.) </li>
                        <li> 주문 취소를 원하시는 경우, 주문번호를 클릭하셔서 상세페이지 하단 <주문 취소> 버튼을 클릭하세요. <br> (부분 취소를 원하시면 고객센터 1588-0911로 전화 주시면 도와드리겠습니다.) </li>
                        <li> ESP(연장 서비스 플랜) 구매 시, 결제 후 "배송완료" 상태이며, 4일 경과 후 자동으로 구매확정 됩니다. </li>
                    </ul>
                </div>

                <!-- 주문 진행 상황 설명 -->  <!-- 나중에 하기 -->
                <div>

                </div>

            </div>      <!-- end <div class="container_w1200 page_top_btm_pad order_list"> -->
        </div>
    </div>
   
    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>

    <script>

        /* = = = = = 진행 중인 주문 건수 = = = = = */

        document.querySelectorAll('.order_step_cnt').forEach( (v,i) => {
            if ( v.querySelector('.order_step_cnt_num').textContent > 0 ) {
                v.style.textDecoration = 'underline';
                v.style.color = 'var(--color-blue)';
                v.style.fontSize = '20px';
            }    
        } );

        
        /* = = = = = 주문 내역 조회 날짜 = = = = = */
      
        var today = new Date();
        const date1 = document.querySelector('.date1');
        date1.value = `${today.getFullYear()-1}-${String(today.getMonth()+1).padStart(2,'0')}-${String(today.getDate()).padStart(2,'0')}`;
        document.querySelector('.date2').value = `${today.getFullYear()}-${String(today.getMonth()+1).padStart(2,'0')}-${String(today.getDate()).padStart(2,'0')}`;

        document.querySelectorAll('.term').forEach( (v,i) => {

            v.addEventListener( 'click', e => { 
                document.querySelectorAll('.term').forEach( (w,j) => {
                    if ( !v.classList.contains('active') ) {
                        v.classList.add('active');
                    }

                    if ( i != j ) {
                        if ( w.classList.contains('active') ) {
                            w.classList.remove('active');
                        }
                    }
                } );

                if (v.classList.contains('active')) {
                    switch(i) {
                        case 0 :
                            date1.value = `${today.getFullYear()}-${String(today.getMonth()-2).padStart(2,'0')}-${String(today.getDate()).padStart(2,'0')}`;
                            break; 
                        case 1 :
                            date1.value = `${today.getFullYear()}-${String(today.getMonth()-5).padStart(2,'0')}-${String(today.getDate()).padStart(2,'0')}`;
                            break; 
                        case 2 :
                            date1.value = `${today.getFullYear()-1}-${String(today.getMonth()+1).padStart(2,'0')}-${String(today.getDate()).padStart(2,'0')}`;
                            break; 
                    }
                }
            } );

        } );
        
        // 주문 취소 / 교환 반품
        const claimCnt = document.querySelector('.claim_cnt');
        if ( document.querySelector('.claim_num').textContent > 0 ) {
            claimCnt.style.textDecoration = 'underline';
            claimCnt.style.color = 'var(--color-blue)';
        }



        /* = = = = = 주문내역 조회 클릭 이벤트 = = = = = */

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.term.year').click();
            document.querySelector('.search').click();
        } );

        const colTableWrap = document.querySelector('.col_table_wrap.order_list.order_sheet_list');
        const colTable = document.querySelector('.col_table');
        const colTableBody = document.querySelector('.col_table_body.order_sheet_body');

        document.querySelector('.search').addEventListener( 'click', async e => {
            e.preventDefault();

            const fromdate = document.querySelector('.date1').value + ' 00:00:00';
            const todate = document.querySelector('.date2').value + ' 23:59:59';
            // console.log(fromdate, todate);

            const formData = new FormData();
            formData.append('fromdate', fromdate);
            formData.append('todate', todate);

            let data = await axiosHelper.get('[[@{/api/order_list_by_date}]]', formData);
            // console.log(data);

            if ( colTableBody.children.length > 0 ) {
                colTableBody.innerHTML = '';
            }

            if(data.paylist.length > 0) {
                console.log(data);

                data.paylist.forEach( (v,i) => {
                    
                    const tableRow = document.createElement('div');
                    tableRow.classList.add('col_table_row', 'order_list_row');
                    
                    const colTableCell = document.createElement('div');
                    colTableCell.classList.add('col_table_cell', 'order_date_num');
                    
                    const orderDate = document.createElement('span');
                    orderDate.innerText = v.date;
                    
                    const orderNum = document.createElement('a');
                    orderNum.classList.add('order_num');
                    orderNum.innerText = v.orderno;
                    
                    const colTableCell2 = document.createElement('div');
                    colTableCell2.classList.add('col_table_cell');
                    
                    const prd = document.createElement('div');
                    prd.classList.add('prd');

                    const prdThumb = document.createElement('div'); 
                    prdThumb.classList.add('prd_thumb');

                    const prdThumbPic = document.createElement('img');
                    prdThumbPic.classList.add('prd_thumb_pic');
                    prdThumbPic.src = v.prodthumbnail;
                    prdThumbPic.alt = v.prodtitle;

                    const prdInfo = document.createElement('div');
                    prdInfo.classList.add('prd_info');

                    const prdInfoName = document.createElement('div');
                    prdInfoName.classList.add('prd_info_name');
                    let color = v.prodcolor!='null' ? `(${v.prodcolor})` : '';
                    prdInfoName.innerText = `${v.prodtitle} ${color}`;

                    const colTableCell3 = document.createElement('div');
                    colTableCell3.classList.add('col_table_cell', 'prd_count');
                    colTableCell3.innerText = v.count;

                    const won = document.createElement('span');
                    won.classList.add('won');
                    won.innerText = '개';

                    const colTableCell4 = document.createElement('div');
                    colTableCell4.classList.add('col_table_cell','prd_total_price','text_blue_accent');
                    colTableCell4.innerText = v.status;

                    colTableCell.appendChild(orderDate);
                    colTableCell.appendChild(orderNum);

                    prdThumb.appendChild(prdThumbPic);
                    prdInfo.appendChild(prdInfoName);

                    prd.appendChild(prdThumb);
                    prd.appendChild(prdInfo);
                    
                    colTableCell2.appendChild(prd);
                    
                    colTableCell3.appendChild(won);

                    tableRow.appendChild(colTableCell);
                    tableRow.appendChild(colTableCell2);
                    tableRow.appendChild(colTableCell3);
                    tableRow.appendChild(colTableCell4);

                    colTableBody.appendChild(tableRow);
                } );
            } else {
                const noPayment = document.createElement('div');
                noPayment.classList.add('no_payment_content','font_20_500');
                noPayment.innerText = '주문 내역이 없습니다.';

                colTableBody.appendChild(noPayment);
            }

        } );

        

    </script>
</body>

</html>