<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('주문 완료')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_3.css}" />
</head>

<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>
    <div class="app">
        <div class="wrapper">
            <div class="container_w1200 page_top_btm_pad order_complete">

                <i class="step_ico confirm on"></i> 

                <div class="font_32_700"> 주문 완료 </div>

                <div> 소니스토어를 이용해 주셔서 감사합니다! </div>

                <div class="font_32_700"> 주문이 완료 되었습니다. </div>

                <div class="order_num_container">
                    <span class="order_num_txt"> 주문번호 &nbsp; : </span> 
                    <span class="order_num text_blue_accent" th:text="${payment.payid}"> </span>
                </div>

                <div class="explain"> * 주문하신 상품에 대한 배송 상태 등의 조회는 마이페이지에서 확인하실 수 있습니다. </div>

                <div class="btn_container">
                    <div class="btn_wrap">
                        <a th:href="@{/}" class="continue btn_200_64 bg_white" > 계속 쇼핑 하기 </a>
                    </div>
                    <div class="btn_wrap">
                        <a class="continue btn_200_64 bg_white" > 설문조사 참여하기 </a>
                    </div>
                    <div class="btn_wrap">
                        <a class="continue btn_200_64 bg_black" > 주문/배송 조회 </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
    
</body>

</html>