<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('error')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_1.css}" />
</head>
<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>
    <div class="container_w1920">
        <div class="container_w1200 flex_center" style="flex-direction: column;">
            <img th:src="@{/assets/img/error/error_404.png}" style="padding-top: 80px;" />

            <div class="button_container flex_center" style="padding-top:0;">
                <a th:href="@{/index}" class="black_button_w200 flex_center">홈으로</a>
            </div>
        </div>
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
</body>
</html>