<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('교육할인')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_1.css}" />
</head>
<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

    <div class="container_w1920">
        <img th:src="@{/assets/img/education/education_discount_bg.jpg}" alt="교육 할인 배경이미지" />

        <div class="container_w1200">
        <div class="exhibition_detail_caution_box">
                <span class="exhibition_datile_caution_title font_24_700">이벤트 유의사항</span>
                <span class="exhibition_datile_caution_desc font_20_500 accent_orange">· 커피+베이글 기프티콘은 12월 2일(월) 주문자 휴대전화로 일괄 전달 예정입니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500 accent_orange">· 각 제품 당(컬러 당) 최대 1개씩만 구매 가능합니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500 accent_orange">· 자격 여부 확인은 정보 제출 후, 영업일 기준 3~5일 이내 매주 월, 목요일 오후 3시에 이루어집니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500 accent_orange">· 정보 제출 후 월, 목요일 오후 3시가 지나도 입장 배너가 보이지 않는다면 소니 스토어 ID를 잘못 기재하셨거나 서류가 충분하지 않았을 가능성이<br />&nbsp; 있습니다. 이 경우, 다시 한번 정보를 제출해 주시기 바랍니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500 accent_orange">· 구매 가능 기간은 자격 승인 후 3개월입니다. (3개월 후 자격은 해제됩니다.)</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 자격 승인 후 영업일 기준 3개월 내에 구매가 이루어지지 않을 시 자격 해제됩니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 행사제품은 해당 이벤트 페이지를 통해서 구매하셔야만 혜택을 받으실 수 있습니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 반품/환불은 소니스토어 판매정책과 동일하게 적용됩니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 이벤트의 내용 및 일정은 당사 사정에 의하여 예고 없이 변경될 수 있습니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 이벤트는 한정수량으로 조기종료 될 수 있습니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 이벤트로 제품을 구매하시는 경우 마일리지 적립과 쿠폰 적용은 되지 않습니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 이벤트는 타 이벤트와 중복 적용되지 않습니다.</span>
                <span class="exhibition_datile_caution_desc font_20_500">· 본 이벤트 관련 문의 사항은 1588-0911 또는 카카오톡 소니코리아 고객센터로 문의해 주시기 바랍니다.</span>
                
        </div>
            <div class="button_container flex_center">
                <a th:href="@{/events/event}" class="black_button_w200 flex_center">목록</a>
            </div>
        </div>   
    </div>
    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
</body>
</html>