<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('사이트맵')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_2.css}" />
  </head>

  <body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

    <div class="container_w1920">
        <div class="sitemap">
            <h1 class="page_title">사이트맵</h1>
          <div class="sitemap_grid">
            <h2 class="title">스토어 추천 제품</h2>
            <ul>
              <li><a th:href="@{/recommend}">추천 제품</a></li>
              <li><a th:href="@{/education/education_discount}">교육 할인</a></li>
              <li><a th:href="@{/gift/gift_proposition}">선물 제안</a></li>
            </ul>
          </div>
          <div class="sitemap_product">
            <h2 class="title">제품</h2>
            <ul class="a">
              <li class="b">
                <a th:href="@{/products/camera}">카메라</a>
                <ul class="product_box">
                  <li><a th:href="@{/products/camera/lens_change}">렌즈교환식 카메라</a></li>
                  <li><a th:href="@{/products/camera/compact}">컴팩트 카메라</a></li>
                </ul>
              </li>
              <li class="b">
                <a th:href="@{/products/video}">비디오 카메라</a>
                <ul class="product_box">
                  <li>
                    <a th:href="@{/products/video/cinema}"
                      >시네마 라인 카메라</a
                    >
                  </li>
                  <li><a th:href="@{/products/video/camcorder}">캠코더</a></li>
                </ul>
              </li>
              <li class="b">
                <a th:href="@{/products/lens}">렌즈</a>
                <ul class="product_box">
                  <li><a th:href="@{/products/lens/fullframe}">풀프레임 렌즈</a></li>
                  <li><a th:href="@{/products/lens/APS-C}">APS-C 렌즈</a></li>
                </ul>
              </li>
              <!-- <li class="b not_allowed">
                <a th:href="@{/products/audio}">오디오</a>
                <ul class="product_box">
                  <li><a th:href="@{/products/audio/headphone}">헤드폰/이어폰</a></li>
                  <li><a th:href="@{/products/audio/speaker}">무선 스피커</a></li>
                  <li><a th:href="@{/products/audio/homeaudio}">홈오디오</a></li>
                  <li><a th:href="@{/products/audio/recorder}">워크맨/녹음기</a></li>
                </ul>
              </li> -->
              <!-- <li class="b not_allowed">
                <a th:href="@{/products/accessory}">액세서리</a>
                <ul class="product_box">
                  <li>
                    <a th:href="@{/products/accessory/camera}">카메라 액세서리</a>
                  </li>
                  <li>
                    <a th:href="@{/products/accessory/audio}">오디오 액세서리</a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>
          <div class="sitemap_exhibit">
            <h2 class="title"><a th:href="@{/events/event?eventname=tab_01}">기획전</a></h2>
            <ul>
              <li><a th:href="@{/events/event?eventname=tab_02}" >소니스토어 단독</a></li>
              <li><a th:href="@{/events/event?eventname=tab_03}" >혜택존</a></li>
              <li><a th:href="@{/events/event?eventname=tab_04}" >예약판매</a></li>
              <li><a th:href="@{/events/event?eventname=tab_05}" >정품등록 이벤트</a></li>
              <li><a th:href="@{/events/event?eventname=tab_06}" >LIVE ON</a></li>
            </ul>
          </div>
          <div class="sitemap_mem">
            <h2 class="title">멤버십</h2>
            <ul>
              <li><a th:href="@{/membership/benefit}">등급&amp;혜택 안내</a></li>
            </ul>
          </div>
          <div class="sitemap_sevice">
            <h2 class="title">고객 서비스</h2>
            <ul>
              <!-- <li><a th:href="@{/faq}" class="not_allowed">FAQ&amp;공지사항</a></li> -->
              <li>
                <a
                  href="https://www.sony.co.kr/scs/handler/Index-Start?asa=Sa"
                  target="_blank"
                  rel="noreferrer"
                  >정품등록 안내</a>
              </li>
              <li>
                <a
                  href="https://www.sony.co.kr/electronics/support"
                  target="_blank"
                  rel="noreferrer"
                  >제품 지원</a>
              </li>
              <li><a th:href="@{/store-info}">직영점 안내</a></li>
              <li><a th:href="@{/video-course}">동영상 강좌</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
  </body>
</html>
