a {
  text-decoration: none;
}
body {
  /* background-color: black; */
}
.main {
  background-color: white;
  margin-top: 80px;
}

.container_w1200 {
  background-color: white;
}

.category {
  background-size: cover;
  position: relative;
  z-index: 1;
  /* padding: 110px 0 124px; */
  min-height: 400px;
  background-position: center center;

  .go_back {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
    cursor: pointer;
  }

  a {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
  }

  .category_name {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: -0.025em;
    font-size: 80px;
    margin-bottom: 40px;
  }

  .category_list {
    .list {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 10px;
        width: 180px;
        height: 180px;
      }

      a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.025em;

        &.All {
          background-color: #5865f5;
          color: white;
        }
      }
    }
  }

  .category_link {
    max-width: 1200px;
    margin: 98px auto 20px;
    text-align: right;

    a {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.025em;
      color: #fff;
      margin-left: 2em;
    }

    img {
      transform: translate(20%, 20%);
    }
  }
}

.tapMenu_wrapper {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
  transform: translateY(-50%);
  display: none;

  .tapMenu_list {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      background-color: black;
      width: 400px;
      height: 80px;

      a {
        color: #888888;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 700;

        &.active {
          width: 100%;
          height: 100%;
          color: #ffffff;
          background-color: #5865f5;
        }
      }
    }
  }
}
.list_info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 30px 10px;

  .list_info {
    display: flex;
    align-items: center;
    justify-content: center;

    .list_info_name {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.025em;
    }
    .list_info_num {
      /* vertical-align: 2px; */
      font-size: 20px;
      letter-spacing: -0.025em;
      color: #888;
    }
  }
  .item_sort {
    display: flex;
    font-size: 16px;
    /* line-height: 1.5; */
    letter-spacing: -0.025em;
    color: #888;
    position: relative;
    z-index: 20; /* z-index 값을 더 높게 설정 */
    width: 240px;
    justify-content: space-between;

    li {
      a {
        width: 26px;
        text-decoration: none;
        color: #888;
      }
    }
  }
}

.sort_active {
  color: #222 !important;
  border-bottom: 2px solid #222;
  font-weight: 600;
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
  width: 100%;
  margin-bottom: 80px;
  /* margin: 80px 0 160px; */
  gap: 24px;

  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.025em;
    justify-content: flex-start;
    margin: 16px 0 6px 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 3em;
    margin-bottom: 1.125em;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #666;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
    color: #222;
  }

  .item {
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    margin-top: 24px;
    width: calc(25% - 18px);
    padding: 32px 40px 56px;
    line-height: 1.5;
    background-color: #f4f7fa;
    transition: width 0.4s, height 0.4s;

    img {
      width: 100%;
    }
  }

  .color-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff !important;
    margin-left: 3px;

    &:hover {
      border-color: #000;
    }

    .color-button-inner {
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: top;
      border-radius: 50%;
      background-color: #000;
      cursor: pointer;
      border: none;
    }
  }
}

.display_none {
  display: none !important;
}

/* -----------------------추천 페이지--------------------------- */

.container_w1920 {
  background-color: white;
  width: 100%;
  width: 1920px;
  height: auto;
  min-height: 100vh;
  margin: 80px auto 0;
  margin-top: 80px;
}

.recommend {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .reco_kv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .reco_kv_img {
      position: relative;
      z-index: 0;
    }
    .reco_kv_text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 40%;

      h2 {
        font-weight: 900;
        font-size: 104px;
        line-height: 1.08;
        letter-spacing: 0;
        color: white;
      }
      .reco_kv_desc {
        /* display: none; */
        margin-top: 1em;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: -0.025em;
        color: white;
      }
    }
  }

  .reco_items {
    width: 1604px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    top: 70%;
    padding: 0;
    margin: 0;

    .reco_item {
      
      .reco_item_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        

        .reco_prod {
          padding: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
          .reco_item_title {
            padding: 20px 0;
            color: black;
            font-weight: 700;
            font-size: 20px;
            letter-spacing: -0.025em;
          }

          .reco_item_desc {
            padding: 20px 0;
            font-size: 16px;
            letter-spacing: -0.025em;
            color: #888;
          }
          
        }
      }
    }
  }
}
.exhibitions_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;

  .title {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    margin: 20px 0;
  }
  .swiper {
    width: 1200px;
    height: 400px;
    .swiper-wrapper {
      display: flex;
      justify-content: normal;
      align-items: normal;
      box-sizing: content-box;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background: #fff;

        .tit {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: -0.55px;
          color: #222;
        }
      }
    }

    .arrow_btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 44%;
      transform: translateY(-50%);
      z-index: 10;

      button {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
      }

      .custom-next {
        right: 10px; /* 오른쪽 버튼 위치 고정 */
      }

      .custom-prev {
        left: 10px; /* 왼쪽 버튼 위치 고정 */
        img {
          transform: rotate(180deg); /* 왼쪽 화살표 이미지를 반대로 회전 */
        }
      }

      .custom-next img,
      .custom-prev img {
        width: 30px; /* 이미지의 너비 */
        height: 30px; /* 이미지의 높이 */
      }
    }
  }
}

/* -----------------------소비자 피해 보상 보험--------------------------- */

.layer_container {
  width: 636px;
  height: 425px;

  .layer_title {
  }
}

/* -----------------------이용약관--------------------------- */

.content {
  padding: 120px 0;

  .page {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.025em;
    word-break: keep-all;
    color: #666;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .page__title {
      font-size: 48px;
      color: #222;
      line-height: 48px;
      font-weight: 700;
    }

    .page__desc {
      margin: 40px 0 60px 0;
      font-size: 20px;
      color: #666;
    }
  }

  .terms {
    .list_box {
      position: relative;
      padding: 30px 40px;
      box-sizing: border-box;
      background-color: #f8f8f8;

      .date {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;

        strong {
          font-size: 18px;
          font-weight: 700;
          color: black;
          font-style: normal;
        }

        .btn_go_ar {
          position: absolute;
          top: 24px;
          right: 40px;
          display: inline-block;
          padding: 8px 10px;
          border: 1px solid #ddd;
          background-color: #fff;
          color: #000;
          font-size: 14px;
        }
      }
      .list_cont {
        display: table;
        width: 100%;
        padding-top: 30px;

        ul {
          display: table-cell;
          width: 50%;

          a {
            color: black;
          }

          &:first-child {
            margin-top: 0;
          }
          li {
            margin-top: 15px;
            margin: 0;
            padding: 10px 0;
            border: 0;
            vertical-align: baseline;
            font-family: inherit;
            box-sizing: border-box;
          }
        }
      }
    }

    .foot_box {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      font-family: inherit;
      box-sizing: border-box;

      .foot_cont {
        margin-top: 80px;

        .Fh4_tit {
          margin-bottom: 30px;
          font-weight: 700;
          font-size: 24px;
          color: #222;
        }
        ol,
        ul {
          list-style: none;

          .Fh5_tit {
            margin: 25px 0;
            font-size: 18px;
            font-weight: 500;
            color: #222;
          }

          li {
            font-size: 16px;
            color: #444;
            line-height: 28px;
            padding: 10px 0;

            strong {
              font-weight: 700;
            }

            p {
              font-size: 16px;
              color: #444;
              line-height: 28px;
            }
          }
        }
      }

      .caution_box {
        position: relative;
        margin-top: 2em;
        padding: 25px 35px;
        border: 1px solid hsla(0, 0%, 86.7%, 0.8666666666666667);
        box-sizing: border-box;

        p {
          font-size: 16px;
          line-height: 32px;
          color: #222;
        }

        strong {
          font-weight: 500;
        }

        .btn_go_ar {
          position: absolute;
          top: 24px;
          right: 40px;
          display: inline-block;
          padding: 8px 10px;
          border: 1px solid #ddd;
          background-color: #fff;
          color: #000;
          font-size: 14px;
        }
      }
    }
  }
}
