<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('회원정보 수정')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_1.css}" />
</head>  
<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>
    <div class="container_w1920">
        <div class="container_w1600">
            <div class="member_modify_container">
                <h2 class="h2_title font_20_500 flex_center"><i class="fas fa-angle-left"></i>마이페이지</h2>
                <h2 class="h2_title font_48_700">회원정보</h2>
                
                <div class="flex_end_box">
                    <a th:href="@{/members/member_secession}" class="white_button">회원탈퇴</a>
                </div>

                <div class="hr_black"></div>


                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">이름</label></div>
                    <input th:value="${session.memberInfo.username}" type="text" class="input_box member_input_box" id="username" style="width: 402px;" readonly />
                    <div class="member_button_box">
                        <button id="changeName" class="large_white_button pointer">이름변경</button>
                    </div>
                    <span class="member_caution">※ 개명(이름 변경)한 경우 ‘이름 변경’ 버튼을 눌러주세요.</span>
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">휴대폰</label></div>
                    <input th:value="${session.memberInfo.phone}" type="text" class="input_box member_input_box" id="phone" style="width: 402px;" />
                    <div class="member_button_box">
                        <button class="large_white_button pointer">인증번호 전송</button>
                    </div>
                </div>

                <div class="member_text_box">
                    <div class="member_title_box none_select" style="border:none;"></div>
                    <input type="text" class="input_box member_input_box" style="width: 402px;" placeholder="인증번호" />
                    <div class="member_button_box">
                        <button class="large_white_button pointer">인증</button>
                    </div>
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">이메일 아이디</label></div>
                    <input th:value="${session.memberInfo.email}" type="text" class="input_box member_input_box" id="email" readonly />
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">생년월일</label></div>
                    <input th:value="${session.memberInfo.birthdate}" type="text" class="input_box member_input_box" id="birthdate" readonly />
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">성별</label></div>
                    <input th:value="${session.memberInfo.gender}" type="text" class="input_box member_input_box" id="gender" readonly />
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">회원구분</label></div>
                    <img th:src="@{/assets/img/my_page/membership_family.ea303a8f.svg}" alt="멤버쉽 아이콘" /><input type="text" class="input_box member_input_box" value="MEMBERSHIP" readonly />
                </div>

                <div class="member_text_box">
                    <div class="member_title_box"><label for="#" class="member_title">비밀번호</label></div>
                    <input th:value="${session.memberInfo.userpw}" type="password" class="input_box member_input_box" id="userpw" style="width: 402px;" readonly />
                    <div class="member_button_box">
                        <button id="changePw" class="large_white_button pointer">비밀번호 변경</button>
                    </div>
                    <span class="member_caution_blue">SNS 계정으로 가입하신 회원님은 각 SNS 페이지에서 수정 및 변경하시기 바랍니다.</span>
                </div>

                <form id="modify_add_receive">
                    <div class="member_text_box">
                        <div class="member_title_box" style="border:none;"><label for="#" class="member_title">주소</label></div>
                        <div class="memebr_address_box">
                            <div class="address_input_button">
                                <input th:value="${session.memberInfo.postcode}" type="text" class="input_box member_input_box" name="postcode" id="postcode" style="width: 402px;" readonly />
                                <div class="member_button_box">
                                    <button id="findPostcode" class="large_white_button pointer">주소 변경</button>
                                </div>
                            </div>
                            <input th:value="${session.memberInfo.addr1}" type="text" class="input_box member_input_box" name="addr1" id="addr1" readonly />
                            <input th:value="${session.memberInfo.addr2}" type="text" class="input_box member_input_box" name="addr2" id="addr2" />
                        </div>
                        
                        <span class="member_caution">※ 주소는 사은품 및 기타 서비스를 제공받으실 때, 꼭 필요한 부분이므로 정확히 기입해 주시기 바랍니다.</span>
                    </div>
                    <div class="member_text_box">
                        <div class="member_title_box"><label for="#" class="member_title">이벤트/프로모션 알림</label></div>
                        <!-- <input type="text" class="input_box member_input_box" value="" readonly /> -->
                        <div class="sns_receive_agree">
                            <div class="all_agree" style="margin-top:0px;">
                                <span class="all_agree_text">메일 수신</span>
                                <label class="switch">
                                    <input th:value="${session.memberInfo.receiveemail}" type="checkbox" class="input_box member_input_box" name="receiveemail" id="receiveemail" />
                                    <span class="slider round"></span>
                                </label>
                            </div>

                            <div class="all_agree" style="margin-top:0px;">
                                <span class="all_agree_text">SNS 수신</span>
                                <label class="switch">
                                    <input th:value="${session.memberInfo.receivesms}" type="checkbox" class="input_box member_input_box" name="receivesms" id="receivesms" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="black_button">회원정보 수정</button>
                </form>
            </div>
        </div>   
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        window.onload = () => {
            const receivesms = document.getElementById('receivesms');
            const receiveemail = document.getElementById('receiveemail');
            if(receivesms.value == 'Y') {
                receivesms.checked = true;
            } else {
                receivesms.checked = false;
            }
            if(receiveemail.value == 'Y') {
                receiveemail.checked = true;
            } else {
                receiveemail.checked = false;
            }
        }

        /* sweetalert2 */
        // 이름 변경
        document.querySelector("#changeName").addEventListener('click', e => {
            new Swal({
                title:  '<span class="alert_title">개명 회원 본인 확인</span>',
                html:   '<form id="modifyName">' +
                        '<label for="" class="input_label">' +
                        '<input type="text" class="input_box" placeholder="이름" name="username" id="username" />' +
                        '<div class="input_focus_line"></div>' +
                        '</label>' +
                        '<div class="input_button_set"  style="margin-top: 25px;">' +
                        '<label for="phoneNumber" class="input_label" style="width: 100%">' +
                        '<input type="text" class="input_box" placeholder="휴대폰 번호" name="phone" id="phone" />' +
                        '<div class="input_focus_line"></div>' +
                        '</label>' +
                        '<div class="btn_box" style="margin-left:15px;">' +
                        '<div class="btn_blue flex_center">인증번호</div>' +
                        '</div>' +
                        '</div>' +
                        '<button type="submit" class="black_button">확인</button>' +
                        '</form>',
                showCloseButton: true, // 오른쪽 상단 x 버튼 
                showConfirmButton: false,
                width: '486px',
                padding: '16px 0 34px 0',
            });

            document.getElementById('modifyName').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(e.currentTarget);

            const data = await axiosHelper.put("[[@{/api/sign/modify_name}]]", formData);

                if(data) {
                    alert("수정이 완료되었습니다.");
                    location.reload();
                }
            });
        });

        //비밀번호 변경
        document.querySelector("#changePw").addEventListener('click', e => {
            new Swal({
                title: '<span class="alert_title">비밀번호 변경</span>',
                html:   '<form id="modifyUserpw">' +
                        '<label for="userpw" class="input_label">' +
                        '<input type="password" class="model_input pw_input" placeholder="비밀번호 입력" name="userpw" id="userpw" />' +
                        '</div>' +
                        '<div class="input_focus_line">' +
                        '</div>' +
                        '</label>' +
                        '<label for="newUserPw" class="input_label">' +
                        '<input type="password" class="model_input pw_input" placeholder="새 비밀번호 입력" name="newuserpw" id="newuserpw" />' +
                        '</div>' +
                        '<div class="input_focus_line">' +
                        '</div>' +
                        '</label>' +
                        '<label for="newUserPwConfirm" class="input_label">' +
                        '<input type="password" class="model_input pw_input" placeholder="새 비밀번호 확인" name="newuserpwconf" id="newuserpwconf" />' +
                        '</div>' +
                        '<div class="input_focus_line">' +
                        '</div>' +
                        '</label>' +
                        '<button type="submit" class="black_button">비밀번호 변경</button>' +
                        '</form>' +
                        '<div class="modal_cation_box">' +
                        '<span class="modal_cation_title"><img src="/assets/img/sign/input_error_gray.svg" alt="input_error_icon" />주의사항 및 안내</span>' +
                        '</div>' +
                        '<p class="modal_cation_desc accent">· 영문 대문자와 소문자, 숫자 조합으로 12자리 이상 15자리 미만으로 입력해 주세요.<br />· 일부 특수문자도 사용 가능합니다.</p>' +
                        '<p class="modal_cation_desc">· 아이디와 같은 비밀번호나 주민등록번호, 생일, 전화번호 등 개인정보와 관련된 숫자, 연속된 숫자, 반복되는 숫자 등은 타인이 쉽게 알아낼 수 있어 유출의 위험이 있으니 사용하지 않는 것이 좋습니다.</p>' +
                        '<p class="modal_cation_desc">· 이전에 사용된 비밀번호를 재사용하시면 도용의 우려가 있으니 새로운 비밀번호로 사용해 주세요.</p>' +
                        '<p class="modal_cation_desc">· 소니스토어에서 사용하는 자체 비밀번호는 회원 정보 수정 및 회원 탈퇴 시에 꼭 필요합니다.(가입 시 이용한 각 SNS 계정 비밀번호와는 다름)</p>' +
                        '<p class="modal_cation_desc">· 비밀 번호는 주기적으로 변경해 주세요. (최소 3개월에 1회는 변경해 주시는 것이 좋습니다.)</p>' +
                        '<p class="modal_cation_desc">· 타 사이트와 동일하거나 유추할 수 있는 비밀 번호는 도용의 위험이 크니, 안전도가 높은 비밀 번호로 변경하시길 권장합니다.</p>' +
                        '<p class="modal_cation_desc accent">· SNS 계정으로 가입하신 회원님은 각 SNS 페이지에서 수정 및 변경하시기 바랍니다.</p>',
                showCloseButton: true, // 오른쪽 상단 x 버튼 
                showConfirmButton: false,
                width: '486px',
                padding: '16px 0 34px 0',
            });

            document.getElementById('modifyUserpw').addEventListener('submit', async (e) => {
                e.preventDefault();

                const newUserPw = document.querySelector("#newuserpw").value;
                const newUserPwConfirm = document.querySelector("#newuserpwconf").value;

                try {
                    regexHelper.maxLength("#newuserpw", 14, "비밀번호는 12~15자리 미만으로 입력하세요.");
                    regexHelper.minLength("#newuserpw", 12, "비밀번호는 12~15자리 미만으로 입력하세요.");
                    regexHelper.engUpdownSpecial("#newuserpw", "대/소문자, 숫자, 특수문자가 포함되어야 합니다.")
                    regexHelper.compareTo( "#newuserpw", "#newuserpwconf", "비밀번호 확인이 잘못되었습니다.");

                } catch (e) {
                    await utilHelper.alertDanger(e.message);

                    // setTimeout(() => e.element.focus(), 300);
                    return;
                }

                const formData = new FormData(e.currentTarget);

                const data = await axiosHelper.put("[[@{/api/sign/modify_userpw}]]", formData);

                if(data) {
                    alert("수정이 완료되었습니다.");
                    location.reload();
                }
            });
        });
        /* sweetalert2 end */

        /* 우편 번호 찾기 */
        document.querySelector("#findPostcode").addEventListener("click", async (e) =>{
            e.preventDefault();
                new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    addr += extraAddr;
                }


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("addr1").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addr2").focus();
                }
            }).open();
        });

        document.getElementById('modify_add_receive').addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(e.currentTarget);

            const data = await axiosHelper.put("[[@{/api/sign/modify_add_receive}]]", formData);

            if(data) {
                new Swal({
                    html: '<span class="alert_content">회원정보 수정이 완료되었습니다.</span>',
                    confirmButtonColor: '#000',
                    confirmButtonText: '확인',
                    width: '312px',
                    padding: '16px 0 34px 0',
                });
            }
        });

        const receiveemail = document.getElementById('receiveemail');
        const receivesms = document.getElementById('receivesms');

        receiveemail.addEventListener('change', (e) => {

            if(receiveemail.checked > 0) {
                receiveemail.value = "Y"; 
            } else {
                receiveemail.value = "N"; 
            }
        });

        receivesms.addEventListener('change', (e) => {

            if(receivesms.checked > 0) {
                receivesms.value = "Y"; 
            } else {
                receivesms.value = "N"; 
            }
        });
    </script>
</body>
</html>