<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('추천상품')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_2.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css"
    />
</head>    
    

  <!-- </head> -->
  <body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

    <div class="container_w1920">
      <div class="recommend">
        <div class="reco_kv">
          <div class="reco_kv_img">
            <img th:src="@{/assets/img/recommend/KV_Full_PC.jpg}" />
            <div class="reco_kv_text">
              <h2>Sony Store</h2>
              <h2>Products</h2>
              <p class="reco_kv_desc">
                당신의 삶을 특별하게 해줄 스마트한
                <br />
                소니스토어 추천 제품을 살펴보세요.
              </p>
            </div>
          </div>
        </div>
        <div class="reco_items">
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap cursor_default">
                <img th:src="@{/assets/img/recommend/Origin_01.jpg}" alt="" />
                </div>
                <h2 class="reco_item_title">WF-1000XM5</h2>
                <p class="reco_item_desc">이것은 작게 진화한 헤드폰</p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap cursor_default">
                <img th:src="@{/assets/img/recommend/Origin_02.jpg}" alt="" />
                </div>
                <h2 class="reco_item_title">ILCE-7CM2</h2>
                <p class="reco_item_desc">원핸드 컴팩트 풀프레임</p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap cursor_default">
                <img th:src="@{/assets/img/recommend/Origin_03.jpg}" alt="" />
                </div>
                <h2 class="reco_item_title">ZV-1M2</h2>
                <p class="reco_item_desc">올인원 브이로그 카메라</p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap cursor_default">
                <img th:src="@{/assets/img/recommend/Origin_04.jpg}" alt="" />
                </div>
                <h2 class="reco_item_title">플로트 런 Float Run</h2>
                <p class="reco_item_desc">달리면서 느끼는 진정한 자유로움</p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <!-- <div
                  class="reco_banner"
                  style="
                    background-image: url('/assets/img/recommend/IMG_T_PC_BG.png');
                  "
                > -->
                <div
                    class="reco_banner"
                    th:style="'background-image: url(' + @{/assets/img/recommend/IMG_T_PC_BG.png} + ');'"
                >
                  <img
                    th:src="@{/assets/img/recommend/IMG_T_PC_Product.png}"
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap">
                <img th:src="@{/assets/img/recommend/Origin_05.jpg}" alt="" />
               </div>
                <h2 class="reco_item_title">LSPX-S3</h2>
                <p class="reco_item_desc">
                  공간을 포근하게 채워주는 오가닉 글래스의 크리스탈 클리어
                  사운드
                </p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap">
                <img src="/assets/img/recommend/Origin_06.jpg" alt="" />
                </div>
                <h2 class="reco_item_title">SRS-XE300</h2>
                <p class="reco_item_desc">언제 어디서든 콘서트 사운드</p>
              </a>
            </div>
          </div>
          <div class="reco_item">
            <div class="reco_item_inner">
              <a  class="reco_prod">
                <div class="img_wrap">
                <img src="/assets/img/recommend/Origin_07.jpg" alt="" />
                </div>
                <h2 class="reco_item_title">SEL1635GM2</h2>
                <p class="reco_item_desc">광각 렌즈의 새로운 기준</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="exhibitions_zone">
        <p class="title">진행중인 기획전</p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (1).jpg}" alt="들어보고! 할인받고!">
              <div class="event_desc">
                <p class="tit">들어보고! 할인받고!</p>
              </div></a>
            </div>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (2).jpg}" alt="Exhibition 2">
              <p class="tit">입문자 추천! 카메라+렌즈 스타터 세트</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (3).jpg}" alt="Exhibition 3">
              <p class="tit">연장 서비스 플랜 ESP</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (4).jpg}" alt="Exhibition 4">
              <p class="tit">ZV 파우치 증정 프로모션</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (5).jpg}" alt="Exhibition 5">
              <p class="tit">렌즈 마일리지 적립 이벤트</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (6).jpg}" alt="Exhibition 6">
              <p class="tit">소니스토어 압구정 11월 혜택 몰아보기</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (7).jpg}" alt="Exhibition 7">
              <p class="tit">시네마 라인 마일리지 적립 이벤트</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (8).jpg}" alt="Exhibition 8">
              <p class="tit">Sound Connect 앱 출시 기념 노캔 헤드폰 프로모션</p>
            </div></a>
            <div class="swiper-slide">
              <a >
              <img th:src="@{/assets/img/recommend/Event-List-Banner (9).jpg}" alt="Exhibition 9">
              <p class="tit">공부할 떈, 스터디헤드폰 몰입의즐거움WH1000XM5</p>
            </div></a>
          </div>
          
           <div class="arrow_btn">
            <button class="custom-prev">
                <img th:src="@{/assets/img/recommend/arrow.svg}" alt="이전">
            </button>
            <button class="custom-next">
                <img th:src="@{/assets/img/recommend/arrow.svg}" alt="다음">
            </button>
           </div>
          
        </div>
      </div>
    </div>



    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script th:src="@{/assets/js/recommend.js}"></script>
    <!-- <script th:src="@{/assets/js/data.js}"></script> -->
  </body>

  
</html>