
* {
    -webkit-box-sizing: content-box;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
    overflow-x: hidden;
    background-color: #000;
}

h2 {
    display: flex;
    justify-content: center;
    color:#222;
    font-weight: 700;
    margin-bottom: 42px;
    font-size:46px;
}

h3 {
    display: flex;
    justify-content: center;
    color:#222;
    font-weight: 700;
    margin-bottom: 42px;
    font-size:38px;
}

a {
    text-decoration: none;
}

.section_pd {
    padding: calc(-8.7px + 6.5vw) 24px;
}

.pd_6vw {
    padding: 116px 0 36px;
}

.pointer {
    cursor: pointer;
}

.btn_box {
    display: flex;
    align-items: flex-end;
}

.btn_blue {
    width: 170px;
    height: 58px;
    padding: 15px;
    font-size: var(--font-size-18);
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.btn_disable {
    background-color: var(--color-light-grey-2);
    color: #fff;
    cursor: default;
}

.light_grey_box{
    margin-top: 56px;
    background-color: var(--color-light-grey);
    padding: 11px 0;
}

.light_grey_box_text {
    font-size: var(--font-size-18);
    color: var(--color-black-3);
    font-weight: 700;
}

.caution_text {
    color: var(--color-grey-2);
    font-size: var(--font-size-12);
    line-height: 18px;
}

.caution_text_accent {
    color: var(--color-grey-3);
    font-weight: 700;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border: 1px solid #999;
    accent-color: black;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="checkbox"]:checked {
    border: none;
}

.all_view {
    color: var(--color-grey-4);
    padding-right: 12px;
    font-size: var(--font-size-16);

    i {
        font-size: 10px;
        transform: translateY(-2px);
    }
}

.pw_box {
    width:100%;
    display: flex;
    position: relative;

    .pw_view {
        position: absolute;
        font-size: var(--font-size-18);
        top:50%;
        right:0;
    }
}


.input_error{
    position: absolute;
    bottom: -20px;
    margin-top: 5px;
    font-size: var(--font-size-12);
    color: #e70000;
    line-height: 18px;
    font-weight: 400;

    img {
        margin-right: 5px;
    }
}

.flex_end_box {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
}

.white_button {
    color: #444;
    text-decoration: none;
    outline: none;
    padding: 8px 16px;
    font-size: var(--font-size-14);
    height: 32px;
    width: 85px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #ddd;
    background-color: #fefefe;
    cursor: pointer;
    transition: background-color .2s cubic-bezier(.32,0,.67,0);

    &:hover {
        background-color: #f2f2f2;
    }
}

.large_white_button{
    width: 170px;
    height: 60px;
    padding: 18px 0 18px;
    font-weight: 500;
    border: 1px solid var(--color-black-3);
    background: var(--color-white);
    font-size: var(--font-size-16);

    &:hover {
        background-color: #f2f2fe;
    }
}

.select_box {
    border: none;   
    outline: none;
    font-size: var(--font-size-18);
    color: var(--color-black-3);
    font-weight: 700;
}
/* mainpage */ 

/*body*/

/* banner */
    .banner {
        max-height:calc(100vh - 80px);
        max-width:100%;
        overflow: hidden;
        position: relative;
        margin-top:80px;

        .swiper-button-prev{
            width:50%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            cursor: url('/assets/img/banner/arrow_left.png'), auto;

            &:after {
                content: "";
            }
        }

        .banner_contents {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left:180px;
            transform: translateY(-50%);
            width:100%;
            color: rgb(248, 248, 248);

            .banner_title_box {
                display: flex;

                .banner_title {
                    font-size: 124px;
                    font-weight: bold;
                    margin-right: 0.25em;
                }
            }

            .banner_item {
                margin: 48px 0 108px 0;
                font-size:18px;
                font-weight: 400;
            }

            .banner_view {
                font-weight: bold;
                padding: 30px 10px 30px 0;
                font-size: 20px;
            }
        }
        
        .swiper-button-next{
            width:50%;
            height:100%;
            position:absolute;
            top:0;
            right:0;
            cursor: url('/assets/img/banner/arrow_right.png'), auto;

            &:after {
                content: "";
            }
        }
        .swiper-slide {
            width: 100%;
            height: auto;
            overflow: hidden;
            
            img {
                width:100%;
                height:100%;
                max-height: calc(100vh - 80px);
                object-fit: cover;
            }

            video {
                width: 100%;
                max-height: calc(100vh - 80px);
                object-fit: cover;
            }
        }

        .banner_perv {
            font-size: 550px;
            color:white;
            z-index: 1001;
        }

        .swiper-pagination {
            position:absolute;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            transform: translateX(-2%);
            bottom: 2.5rem;
            color: white;
            font-weight:bold;
        }
    }

/* banner end*/

/*duplicate swiper section*/
.wrap {
    max-width: 1920px;
    max-height:940px;
    display: flex;
    background-color: #f4f4f4;
    font-family: 'Noto Sans KR', serif;
}

.box {
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box.style01 {
    padding-left:5%;

    .swiper-button-next{
        width:35%;
        height:100%;
        position:absolute;
        top:0;
        right:0;
        cursor: url('/assets/img/banner/arrow_right.png'), auto;

        &:after {
            content: "";
        }
    }
}

.box.style02 {
    overflow: hidden;
}

.main-slide {
    width:100%;
}

.main_img {
    img {
        width:100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.sub_swiper_title {
    color: rgb(116, 116, 116);
    opacity:0;
    display: -webkit-box;
    overflow: hidden;
    height: 2.5em;
    margin-bottom: 24px;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -.025em;
}

.sub_swiper_name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -.025em;
    color: #222;
    opacity:0;
}

.sub_swiper_desc {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 0;
    color: #666;
    opacity: 0;
}

.opacity_1 {
    opacity: 1;
}

.sub_img {
    position:relative;
    top:50%;
    width:80%;
    background-color: white;
    
    &:after {
            content: "";
            display:block;
            padding-bottom: 100%;
    }

    img {
        position:absolute;
        width: 100%;
        height: 100%;
        transition: all var(--animation-duration) ease-in-out;

        &:hover {
            scale: 1.2;
        }
    }
}

/*duplicate swiper section - end*/

/* event section */

.event_box_w100 {
    background-image: url("/assets/img/main/event_bg_1.jpg");
    width: 100%;
    height: 576px;
    padding:230px 230px 134px 326px;
    background-position: center center;
    background-size: 100%;

    .event_contents {
        display: flex;
        flex-direction: column;
    }
}

.event_title {
    color: #222;
    line-height: 1.375;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.02em;
    width: 80%;
}

.event_info {
    color:#666;
    font-size: 19px;
    line-height: 1.375;
    margin-top: 5px;
    width: 80%;
}

.event_item_container {
    width: 100%;
    display: flex;
    margin-top: 28px;

    .event_item_w33 {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-size: 100%;
        height:576px;
        background-position: center;
        transition: background-size .2s ease-in-out;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 38px;
        margin-right: 15px;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url("/assets/img/main/main_event_img_1.jpg");
        }

        &:nth-child(2) {
            background-image: url("/assets/img/main/main_event_img_2.jpg");
        }

        &:nth-child(3) {
            background-image: url("/assets/img/main/main_event_img_3.jpg");
            margin-right:0;
        }

        &:hover {
            background-size:110%;
        }
    }
}

.event_more_view {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top:38px;
}

/* event section end */

/* product_section */

.gray_bg_section {
    max-width: 1920px;
    background-color: #f4f4f4;

    .product_container{
        width:100%;
        display:flex;

        .product_item{
            display: flex;
            flex: 0 1 25%;
            flex-direction: column;
            background-size: 400px;
            height:576px;
            justify-content: flex-end;
            padding-bottom: 2vw;
            background-repeat: no-repeat;
            background-position: 200px 40px;
            transition: background .2s ease-out;
            padding: 500px 54px 54px;
            border-right: 1px solid #e4e4e4;
            text-decoration: none;


            &:hover {
                background-position-x: 50%;
                background-color: #5865f5;
            }

            span {
                color: #222;
                font-weight: 700;
                font-size: 27px;
            }
        }
    }
}
/* product_section end */

/* main hr_banner_section */
    .hr_banner{
        background-image: url("/assets/img/main/pc_hr_banner.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 440px;
        color: #000;
        position:relative;
        top:50%;

        .hr_banner_contents {
            position: relative;
            top: 50%;
            transform: translateY(-30%);

            .hr_banner_text {
                font-size: 39px;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -.025em;
                display: block;
                text-align: center;
            }
        }
    }

/* main hr_banner_section end */

/* main helf */

.main_helf {
    padding: 60px 84px;
    display:flex;
    justify-content: space-between;

    .main_helf_banner_text{
        font-size: 38px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -.025em;
    }

    .main_helf_lists {
        display:flex;
 
        .main_helf_list {
            background-repeat: no-repeat;
            background-position: center center;
            background-size : 55px;
            height: 100px;  
            display:flex;
            align-items: flex-end;
            width: calc(21px + 7.2vw);
            justify-content: center;
            position: relative;

            &.notice {
                background-image: url("/assets/img/main/main_help_notice.svg");
            }

            &.location {
                background-image: url("/assets/img/main/main_help_location.svg");
            }

            &.service {
                background-image: url("/assets/img/main/main_help_service.svg");
            }

            &.advice {
                background-image: url("/assets/img/main/main_help_advice.svg");
            }

            a {
                text-decoration: none;
                color: #222;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -.025em;
                font-size: 18px;
                height: 100px;
                display: flex;
                position: absolute;
                align-items: flex-end;
            }
        }  
    }
}

/* main helf end*/


/*body-end*/

/* main page end */

/* login */

.login {
    padding: 160px 0;
    margin: 0 306px;

    .login_tab {
        margin-bottom: 65px;

        .member {
            color: var(--color-black-3);
            padding: 10px 0;
            margin-right: 36px;
        }

        .non_member {
            color: var(--color-grey-4);
            padding: 10px 0;
        }

        .tab_button {
            text-decoration: none;
            color: var(--color-grey-4);
        }

        .tab_button_active {
            border-bottom: 4px solid var(--color-black);
            color: var(--color-black-3);
        }

    }
}

.tab_page {
    display: none;
}

.find_box {
    margin-top: 30px;
    display:flex;
    justify-content: space-between;

    .checkbox {

        label {
            display: inline-block;
            position: relative;
            min-height: 16px;
            cursor: pointer;
            color: #222;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
        }
    }

    .find_menu {

        a {
            display: inline-block;
            position: relative;
            height: 12px;
            cursor: pointer;
            color: #222;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            text-decoration: none;

            &:nth-child(1) {
                padding-right: 16px;
                margin-right: 16px;
                border-right: 1px solid gainsboro;
            }
        }
    }
}

.non_member_comment {
    font-size: var(--font-size-14);
    color: #bbb;
}

.join_box {
    margin-top: 80px;
    padding-top: 40px;
    border-top: 1px solid gainsboro;

    .join_comment {
        color: var(--color-black-3);
    }

    .join_box_contents {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .join_box_desc {
            color: var(--color-grey-2);
            font-size: var(--font-size-14);
            font-weight: 500;
        }

        .sign_up_button{
            padding: 12px 20px;
            width: 178px;
            height: 48px;
            font-size: 16px;
            color: var(--color-black-3);
            font-weight: 500;
            border: 1px solid var(--color-black-3);
            text-align: center;
            text-decoration: none;
            transform: translateY(-15px);
        }
    }

}

.tab_page_active {
    display: block;
}    


/* login end */

/* find_id_pw */

.h2_title {
    color : var(--color-black-3);
    margin-bottom: 0;
    line-height: 45px;
}

.find_id_pw_desc {
    margin-top: 14px;
    text-align: center;
    font-size: 16px;
    color: var(--color-grey-2);
    line-height: 24px
}

.find_tab {
    margin-bottom: 65px;

    .find_tab_ul {
        width: 100%;

        li {
            width:100%;
            height: 80px;
        }

        .find_id {
            color: var(--color-black-3);
            padding: 10px 0;
            margin-right: 36px;
        }

        .find_pw {
            color: var(--color-grey-4);
            padding: 10px 0;
        }

        .find_button {
            width:100%;
            height: 80px;
            text-decoration: none;
            color: var(--color-grey-4);
        }

        .find_button_active {
            border-bottom: 2px solid var(--color-blue);
            color: var(--color-blue);
        }

    }
}

.find_result {
    display: none;
    margin-top: 120px;
    flex-direction: column;

    .result_email_label {
        margin-top: 30px;
        font-size: 24px;
        color: #222;
        font-weight: 700;
    }

    .result_email {
        margin-top: 8px;
        color: #666;
        font-size: 18px;
        word-break: break-all;
        font-weight: 300;
    }
}

/* .input_button_set {
    display: flex;
    flex-direction: row;
} */

/* find_id_pw end*/

/* sign_up_agree */
.all_agree{
    margin-top: 56px;
    display:flex;
    justify-content: space-between;
    
    .all_agree_text {
        font-size: var(--font-size-16);
        font-weight: 700;
        color: var(--color-black-3);

        .all_agree_text_desc {
            font-size: var(--font-size-14);
            font-weight: 400;
            color: var(--color-grey-2);
            margin-left: 5px;
        }
    }

   /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 16px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: -2px;
        bottom: -5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: var(--color-blue);
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px var(--color-blue);
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        border: 1px solid var(--color-blue);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        background-color: var(--color-grey-2);
        border: 1px solid #bbb
    }
    
    .slider.round:before {
        border-radius: 50%;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    }
}


.sign_up_agree {
    margin: 0 204px;
    padding: 160px 0;

    .bg_agree_box {
        margin-top: 24px;
        padding: 30px 40px;
        background-color : var(--color-light-grey);
        border-top: 1px solid #ddd;
        box-sizing: border-box;

        .agree_box_container {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            .checkbox_container {
                display:flex;
                align-items: center;

                .checkbox_desc{
                    font-weight: 500;
                    margin-left:4px;
                    height: 16px;
                    line-height: 14px;
                    font-size: var(--font-size-16);
                    color: var(--color-black-3);
                    text-decoration: underline;
                }
            }
        }
    }
}


/* sign_up_agree end*/

/* sign_up_input */
.sign_up_input_container {
    margin: 0 204px;
    padding: 160px 0;

    .sign_up_input_box{
        margin-top: 65px;
    }
}

.input_half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_title {
    font-size: 18px;
    color: #888;
    font-weight: 400;
}

.gender_box {
    display: flex;
    margin-top: 25px;
    position: relative;
    display:flex;

    appearance: none;
    width: 100%;
    border: 0;
    padding: 28px 0 20px;
    font-size: 18px;
    color: var(--color-black-3);
    font-weight: 700;
    transition: all .15s ease;
    border-bottom: 1px solid #e1e1e1;
    outline: none;

    .radio_box {
        display: flex;
        margin-left: 24px;

        .radio_label {
            font-size:var(--font-size-14);
            margin-left: 8px;
            font-weight: 500;
        }
    }
}

[type="radio"] {
    appearance: none;
    border: 1px solid var(--color-silver);
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
  
  [type="radio"]:checked {
    border: 6px solid var(--color-black-3);
  }
  
  [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted var(--color-black-3);
  }

/* sign_up_input end*/

/* member_modify */
.member_modify_container {
    margin: 0 404px;
    padding: 80px 0 160px 0;
}

.hr_black {
    margin-top: 16px;
    padding: 24px 0 0;
    border-top: 2px solid #222;
}

.member_text_box {
    display: flex;
    position: relative;
    margin-top: 26px;

    .member_title_box {
        padding: 28px 0 20px 0;
        color: var(--color-black-3);
        font-weight: 700;
        border-bottom: 1px solid #e1e1e1;
        width: 204px;

        .member_title{
            font-size: var(--font-size-18);
            font-weight: 700;
            color: var(--color-black-3);
        }
    }

    img {
        width: 25px;
        padding-top: 10px;
        border-bottom: 1px solid #e1e1e1;
        margin-right: 8px;
    }

    .member_input_box {
        width:auto;
    }

    .member_button_box {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 186px;
    }

    .memebr_address_box {
        display:flex;
        flex-direction: column;

        .address_input_button {
            display: flex;
        }
    }
}

.member_caution {
    position: absolute;
    bottom: -20px;
    left: 204px;
    margin-top: 5px;
    font-size: var(--font-size-12);
    color: var(--color-silver);
    line-height: 18px;
    font-weight: 400;
}

.member_caution_blue{
    position: absolute;
    bottom: -20px;
    left: 204px;
    margin-top: 5px;
    font-size: var(--font-size-12);
    color: var(--color-blue);
    line-height: 18px;
    font-weight: 400;
}

.sns_receive_agree {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    flex-grow: 1;

    .all_agree {
        margin-right: 30px;
        
        .all_agree_text {
            margin-right: 10px;
        }    
    }
}

.alert_title {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3    0px;
}

input:disabled {
    background-color: var(--color-white);
}

.model_input {
    appearance: none;
    width: 100%;
    border: 0;
    padding: 14px 0 10px;
    font-size: 14px;
    color: var(--color-black-3);
    font-weight: 500;
    transition: all .15s ease;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
}

.swal2-container *:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
}

.modal_cation_box{
    display: flex;
    justify-content: flex-start;
}

.modal_cation_title {
    font-size: var(--font-size-16);
    color: #444;
    font-weight:500;

    img {
        width: 15px;
        margin-right: 5px;
    }
}

.modal_cation_desc {
    font-size: var(--font-size-14);
    font-weight: 400;
    text-align: start;
    color: var(--color-grey-2);

    &.accent {
        font-weight: 700;
    }
}

/* member_modify end */

/* member_secession */

.member_secession_container  {
    width:588px;
    margin: 80px auto 180px;
}

.member_secession_caution {
    position: relative;
    width: 100%;
    margin: 24px 0 64px 0;

    .member_caution_blue {
        position:initial;
        font-size: var(--font-size-14);
        text-align: center;
    }
}



/* member_secession end */

/* search_result page */
.search_container {
    width: 588px;
    margin: auto;
    position:relative;

    .search_input_form {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid var(--color-black);

        .search_input_label{
            position:absolute;
            text-indent: -9999px;
            overflow: hidden;
        }

        .search_button {
            background-image: url('/assets/img/search_result/search_icon.svg');
            width:32px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-indent: -9999px;
            overflow: hidden;
            background-color: var(--color-white);
            border:none;
        }
    }
}

.result_message {
    margin-top: 70px;
}

.input_text {
    width: 100%;
    height: 80px;
    background-color: var(--color-white);
    border:none;
    outline: none;
}


.tab_menu_style_1 {
    margin: 180px 0 65px;

    .tab_button_container{
        width:  100%;
        display: flex;
        justify-content: space-between;

        .tab_button_box {
            width: 240px;
            height: 65px;
            border-bottom: 1px solid #e1e1e1;
        

            .tab_button {
                width: 240px;
                height: 65px;
                text-decoration: none;
                padding: 20px 0;
                font-size: var(--font-size-18);
                color: var(--color-grey-4);
            }

            .tab_button_active {
                border-bottom: 2px solid var(--color-blue);
                color: var(--color-blue);
            }
        }
    }
}

.list_container {
    .item {
        width:367px;
        height: 535px;
    }
}

.item_info_container {
    background-color: var(--color-white);
    position: relative;
    left: -40px;
    bottom: -30px;
    width: 367px;
    height: 250px;

    .color-buttons {
        margin-top: 20px;
        height: 15px;
    }
}

.hr_silver {
    margin-top: 16px;
    padding: 24px 0 0;
    border-top: 1px solid var(--color-silver);
}

.more_view {

    i {
        font-size:12px;
        margin-left: 5px;
    }
}

.search_result_content_title {
    font-size: var(--font-size-24);
    display: flex;
    justify-content: flex-start;
    margin: 90px 0 40px;
    
    .search_result_title_count {
        font-size: 20px;
        color: var(--color-grey-2);
        display: flex;
        align-items: flex-end;
    }
}

.product_grid_3ea {
    display: flex;
    justify-content: space-between;

    .product_grid_item {
        display: flex;
        flex-direction: column;
        width: 368px;
        height: 296px;

        .product_grid_title {
            margin-top: 28px;
            color: var(--color-black-3);
            font-size: var(--font-size-20);
            font-weight: 700;

        }

        .product_grid_period {
            margin-top: 15px;
            font-size: var(--font-size-16);
            color: var(--color-grey-2);
            font-weight: 500;
        }
    }
}

.search_result_list_ul {
    display: flex;
    flex-direction:column;

    .search_result_list_li {
        display: flex;
        padding: 25px;
        border-bottom: 1px solid var(--color-light-grey-2);
        

        .search_result_list_title{
            color: #444;
            font-size: var(--font-size-20);
            font-weight: 500;
            padding-right: 30px;

            &.text_blue_accent{
                color: var(--color-blue);
            }
        }

        .notice_box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: 500;

            .notice_list_num {
                color: var( --color-grey-3);
                width: 110px;
            }
            .notice_title {
                font-size: var(--font-size-20);
                color: #444;
                width: 880px;
            }
            .notice_date {
                width: 110px;
                color: var( --color-grey-2);
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.thin_silver_arrow {
    transform: translateY(3px);
}


/* search_result page end*/

/* event page */
.event_banner {
    height: 600px;

    .event_banner_title{
        font-size: 70px;
        font-weight: 700;
        line-height: 88px;
        letter-spacing: -1.75px;
        color: var(--color-black);
    }

    .event_banner_desc {
        font-size: var(--font-size-18);
        color: var(--color-black);
        margin-top: 10px;
    }

    .event_banner_date{
        font-size: var(--font-size-18);
        color: var(--color-black);
        margin-top: 30px;
    }

    .banner_view {
        color: var(--color-black);
        margin-top: 50px;
    }

    .color_white {
        color:var(--color-white);
    }
}

.event_tab_button {
    width: 200px !important;
}

.event_h2_box {
    display: flex;
    justify-content: space-between;
    margin: 90px 0 40px;

    .event_h2 {
        font-size: var(--font-size-24);
        display:block;
        text-align: start;
    }

    .event_sort {
        display: flex;
        width: 270px;
        justify-content: space-between;
        height: 24px;

        .event_sort_text {
            font-size: var(--font-size-16);
            margin-left:10px;
            font-weight: 500;
            color: var(--color-grey-2);
        }

        .event_sort_active {
            color: var(--color-black);
            border-bottom: 3px solid var(--color-black);
        }

        .event_finished {
            background-color: var(--color-black);
            color: var(--color-white);
            font-size: var(--font-size-14);
            font-weight: 500;
            padding: 8px 16px;
            height:32px;
            transform: translateY(-5px);
        }
    }
}

.exhibition_container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
    .exhibition_item_box {
        display: flex;
        flex-direction: column;
        position: relative;

        .exhibition_item_img {
            width: 588px;
            height: 330px;
        }

        .exhibition_item_title{
            font-size: var(--font-size-22);
            font-weight: 500;
            color: var(--color-black);
            margin-top:20px;
        }

        .exhibition_date {
            font-size: var(--font-size-14);
            font-weight: 500;
            color: var(--color-grey-3);
            margin: 7px 0 20px;
        }

        .share_button {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: rgba(0, 0, 0, .4);
        }
    }
}
.exhibition_detail_caution_box {
    display: flex;
    flex-direction: column;
    
    .exhibition_datile_caution_desc{
        margin-top: 20px;

        &.accent_orange{
            color: var(--color-orange);
        }
    }
}

.button_container {
    width: 1200px;
    padding: 144px;
}

.black_button_w200 {
    width:200px;
    background-color: var(--color-black-3);
    color: var(--color-white);
    padding:18px;
    font-size: var(--font-size-18);

    &:hover {
        background-color: #444;
    }
}

.find_button_active {
    border-bottom: 2px solid var(--color-blue);
    color: var(--color-blue);
}


/* event page end */

@media (max-width: 1919px) {

    .gray_bg_section {
        .product_container{
            .product_item {
                background-position: 150px 40px;
            }
        }
    }
}

