<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .img_container {
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    </style>
</head>
<body>
    <div>
        <p> 상품이름 </p>
        <p class="title" th:text="${product.title}" />
    </div>
    <div class="img_container">
        <img class="image" th:src="${product.detailimage1}"/>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <!-- <script th:src="@{/assets/js/AxiosHelper.js}"></script> -->
    <script>
/* 
        (async () => {
            let data = await axiosHelper.get("[[@{/api/test}]]");
            console.log(data);

            // document.querySelector(".title").innerText = data.item.title;
            // document.querySelector(".image").src = data.item.detailimage1;
        })();
         */
    </script>
</body>
</html>