<th:block th:fragment="sony-header">
    <!-- PC header -->
    <div class="header_pc">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/assets/img/header/sony_logo.svg}" class="logo_img" alt="sony_logo">
        </a>
        <nav class="gnb">
            <ul class="gnb_menu">
                <li>
                    <a href="#" class="gnb_title" data-num="1">스토어 추천 제품</a>
                </li>
                <li>
                    <a href="#" class="gnb_title" data-num="2">제품</a>
                </li>
                <li>
                    <a th:href="@{/events/event}" class="gnb_title" data-num="3">기획전</a>
                </li>
                <li>
                    <a href="#" class="gnb_title" data-num="4">멤버쉽</a>
                </li>
                <li>
                    <a href="#" class="gnb_title" data-num="5">고객 서비스</a>
                </li>
                <div class="secondary_menu_bg">
                    <div class="secondary_menu">
                        <ul class="secondary_menu_list" data-num="1">
                            <li>
                                <a th:href="@{/recommend}">추천 제품</a>
                            </li>
                            <li>
                                <a th:href="@{/gift/gift_proposition}">선물 제안</a>
                            </li>
                            <li>
                                <a th:href="@{/education/education_discount}">교육 할인</a>
                            </li>
                        </ul>
                        <ul class="secondary_menu_list" data-num="2">
                            <li>
                                <a th:href="@{/products/camera}">카메라</a>
                            </li>
                            <li>
                                <a th:href="@{/products/video}">비디오 카메라</a>
                            </li>
                            <li>
                                <a th:href="@{/products/lens}">렌즈</a>
                            </li>
                            <li>
                                <a th:href="@{/products/audio}" class="not_allowed">오디오</a>
                            </li>
                            <li>
                                <a th:href="@{/products/accessory}" class="not_allowed">액세서리</a>
                            </li>
                        </ul>
                        <ul class="secondary_menu_list" data-num="3">
                            <li>
                                <a th:href="@{/events/event}" class="cursor_default">소니스토어 단독</a>
                            </li>
                            <li>
                                <a th:href="@{/events/event}" class="cursor_default">혜택존</a>
                            </li>
                            <li>
                                <a th:href="@{/events/event}" class="cursor_default">예약판매</a>
                            </li>
                            <li>
                                <a th:href="@{/events/event}" class="cursor_default">정품등록 이벤트</a>
                            </li>
                            <li>
                                <a th:href="@{/events/event}" class="cursor_default">LIVE ON</a>
                            </li>
                        </ul>
                        <ul class="secondary_menu_list" data-num="4">
                                <li>
                                    <a th:href="@{/membership/benefit}">등급&혜택 안내</a>
                                </li>
                            </ul>
                        <ul class="secondary_menu_list" data-num="5">
                            <!-- <li>
                                <a th:href="@{/faq-notice}">FAQ&공지사항</a>
                            </li> -->
                            <li>
                                <a href="https://www.sony.co.kr/scs/handler/Index-Start?asa=Sa">정품등록 안내</a>
                            </li>
                            <li>
                                <a href="https://www.sony.co.kr/electronics/support">제품 지원</a>
                            </li>
                            <li>
                                <a th:href="@{/store-info}">직영점 안내</a>
                            </li>
                            <li>
                                <a th:href="@{/video-course}">동영상 강좌</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        
        </nav>
        <div class="header_pc_icon_menu">
            <a href="#" class="drop_down_btn_1">
                <img th:src="@{/assets/img/header/icon_search.svg}" alt="검색">
            </a>
            <a class="drop_down_btn_2">
                <img th:src="@{/assets/img/header/icon_mypage.svg}" alt="마이페이지" class="pointer">
            </a>
            <a th:href="@{/cart}">
                <img th:src="@{/assets/img/header/icon_cart.svg}" alt="장바구니">
            </a>
        </div>
        <div class="search_drop_down">
            <a href="./" class="logo search_logo">
                <img th:src="@{/assets/img/header/sony_logo.svg}" class="logo_img" style="width:100px;" alt="sony_logo">
            </a>
            <i class="fas fa-xmark search_exit pointer"></i>

            <div class="container_w800 pd-90-160">
                <div class="search_container">
                    <form th:action="@{/search/search_result}" id="searchForm" class="search_input_form">
                        <input type="search" id="headerKeyword" name="keyword" class="input_text font_24_700" placeholder="검색어를 입력해 주세요.(특수문자 제외)" style="background-color: #000; border-bottom: 3px solid white; color:white;" />
                        <button type="submit" class="search_button_white pointer" title="검색">검색</button>
                    </form>
                </div>
                
                <div class="hot_keyword">
                    <span class="font_20_500">인기 검색어</span>
                    <div class="hash_tag_box">
                        <span class="hash_tag pointer">ILCE-9M3</span>
                        <span class="hash_tag pointer">WF-1000XM5 스모키 핑크</span>
                        <span class="hash_tag pointer">SEL50F14GM</span>
                        <span class="hash_tag pointer">WH-1000XM5</span>
                    </div>
                    <div class="hash_tag_box">
                        <span class="hash_tag pointer">링크버즈 오픈 케이스 커버</span>
                    </div>
                </div>

                <div class="search_recommend">
                    <span class="font_20_500">추천 제품</span>
                    <div class="search_recommend_item_container">
                        <div class="search_recommend_item not_allowed">
                            <div class="search_recommend_item_img flex_center">
                                <img th:src="@{/assets/img/search/search_recommend_01.png}" alt="추천 제품" />
                            </div>
                            <span class="search_recommend_item_title">WH-1000XM5 스모키 핑크</span>
                            <span class="search_recommend_item_desc">Your New Colour, Smoky Pink</span>

                            <span class="item_badge">NEW</span>
                        </div>

                        <div class="search_recommend_item not_allowed">
                            <div class="search_recommend_item_img flex_center">
                                <img th:src="@{/assets/img/search/search_recommend_02.png}" alt="추천 제품" />
                            </div>
                            <span class="search_recommend_item_title">ZV-1F</span>
                            <span class="search_recommend_item_desc">나를 담는 브이로그 카메라 ZV-1F</span>

                            <span class="item_badge" style="color:#000;">EVENT</span>
                        </div>

                        <div class="search_recommend_item not_allowed">
                            <div class="search_recommend_item_img flex_center">
                                <img th:src="@{/assets/img/search/search_recommend_03.png}" alt="추천 제품" />
                            </div>
                            <span class="search_recommend_item_title">링크버즈 오픈</span>
                            <span class="search_recommend_item_desc">벗지 않는 편안함</span>

                            <span class="item_badge">NEW</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mypage_drop_down flex_center" th:if="${session.memberInfo == null}">
            <a class="mypage_drop_down_login pointer" th:href="@{/sign/login}">로그인</a>
            <a class="mypage_drop_down_menu pointer" th:href="@{/sign/sign_up}">회원가입</a>
            <a class="mypage_drop_down_menu pointer" th:href="@{/my-page/order-list}">주문/배송 조회</a>
        </div>

        <div class="mypage_drop_down flex_center" style="height: 200px; text-align: center;;" th:unless="${session.memberInfo == null}">
            <a class="mypage_drop_down_login pointer"><span th:text="${session.memberInfo.username}" />님<br /> 안녕하세요!</a>
            <a class="mypage_drop_down_menu pointer" th:href="@{/members/my_page}">마이페이지</a>
            <a class="mypage_drop_down_menu pointer" th:href="@{/my-page/order-list}">주문/배송 조회</a>
            <a id="btn_logout" class="mypage_drop_down_menu pointer" style="text-decoration: none;">로그아웃</a>
            <script>
                document.querySelector('#btn_logout').addEventListener('click', async (e) => {
                    e.preventDefault();
        
                    const data = await axiosHelper.get("[[@{/api/sign/logout}]]");

                    window.location = "[[@{/index}]]"
                });
            </script>
        </div>
    </div>
    <!-- PC header end -->
</th:block>