<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('회원가입')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_1.css}" />
</head>
<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

    <div class="container_w1920">
        <div class="container_w1200">
            <div class="sign_up_agree">
                <h2 class="h2_title font_32_700">소니스토어</h2>
                <p class="find_id_pw_desc">
                    소니 고객지원 사이트(SCS) 와 소니스토어는 하나의 ID 와 비밀번호로 운영됩니다.<br />
                    소니 고객지원 사이트(SCS)의 이용약관에 함께 동의하시면,<br />
                    하나의 ID로 고객지원 사이트(SCS)를 편리하게 이용하실 수 있습니다.<br />
                </p>

                <div class="all_agree">
                    <span class="all_agree_text">약관 전체 동의<span class="all_agree_text_desc">(선택 항목 포함)</span></span>
                    <label class="switch">
                        <input class="check_all" type="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="bg_agree_box">
                    <div class="agree_box_container">
                        <div class="checkbox_container">
                            <input type="checkbox" class="input_checkbox check_only" id="check01" />
                            <label for="check01" class="checkbox_desc pointer">[필수] 소니스토어 쇼핑몰 이용약관 동의</label>
                        </div>
                        <a class="all_view">전체보기 <i class="fas fa-angle-right"></i></a>
                    </div>

                    <div class="agree_box_container">
                        <div class="checkbox_container">
                            <input type="checkbox" class="input_checkbox check_only" id="check02" />
                            <label for="check02" class="checkbox_desc pointer">[필수] 소니 고객지원 사이트(SCS) 이용약관 동의</label>
                        </div>
                        <a class="all_view">전체보기 <i class="fas fa-angle-right"></i></a>
                    </div>

                    <div class="agree_box_container">
                        <div class="checkbox_container">
                            <input type="checkbox" class="input_checkbox check_only" id="check03" />
                            <label for="check03" class="checkbox_desc pointer">[필수] 회원가입 개인정보 수집에 관한 동의</label>
                        </div>
                        <a class="all_view">전체보기 <i class="fas fa-angle-right"></i></a>
                    </div>

                    <div class="agree_box_container">
                        <div class="checkbox_container">
                            <input type="checkbox" class="input_checkbox check_only" data-receiveagree="N" id="receivead" />
                            <label for="check04" class="checkbox_desc pointer">[선택] 마케팅 목적의 개인정보 처리 및 광고성 정보 수신에 관한 동의</label>
                        </div>
                        <a class="all_view">전체보기 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>

                <a th:href="@{/sign/sign_up_input}" id="agreeConfirm" class="black_button flex_center">동의</a>
            </div>
        </div>
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>

    <script>
        /* = = = = = checkbox 전체 체크 제어 = = = = = */
        
        const checkAll = document.querySelector('.check_all');

        checkAll.addEventListener('click', e => {
            
            document.querySelectorAll('.check_only').forEach(v => {
                v.checked = checkAll.checked;
            });

        });

        const checkboxes = document.querySelectorAll('.check_only');

        checkboxes.forEach( (v,i) => {
            v.addEventListener( 'click', e => {
                const totalCnt = checkboxes.length;
                const checkedCnt = document.querySelectorAll('.check_only:checked').length;
                
                checkAll.checked = (totalCnt == checkedCnt) ? true : false;
            } );
        } ); 

        /* 선택항목 체크 여부에 따라 다음 페이지로 넘어갈 파라미터 */
        // sns, email 따로 분리해서 mysql에 넣어야 마이페이지에서 수정할 때
        // 하나씩 체크 풀 수 있음 여기서는 체크하면 sms=Y&email=Y 로 넘어가지만
        // 데이터베이스에서는 따로 분리해서 하나씩 insert 해야할 듯 ㅋㅋ
        const receivead = document.getElementById('receivead');
        const agreeConfirm = document.getElementById('agreeConfirm');
        const agreeConfirmHref = agreeConfirm.href;
        let resultUrl = null;
        let path = null;

        receivead.addEventListener('click', (e) => {
            agreeConfirm.href = agreeConfirmHref;

            if(receivead.checked > 0) {
                path = receivead.dataset.receiveagree = "Y"; 
                resultUrl = agreeConfirmHref + "?receiveagree=" + path; 
            } else {
                path = receivead.dataset.receiveagree = "N";
                resultUrl = agreeConfirmHref + "?receiveagree=" + path; 
            }
            agreeConfirm.href = resultUrl;
        });
    </script>

</body>
</html>