<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/_fragments/_head :: sony-head('회원가입')}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/style_1.css}" />
</head>
<body>
    <th:block th:replace="~{/_fragments/_header :: sony-header}"></th:block>

    <div class="container_w1920" style="padding: 40px 0 200px 0">
        <div class="container_w1200">
            <div class="find">
                <h2 class="h2_title font_32_700">회원가입</h2>
                <p class="find_id_pw_desc">
                    소니스토어와 소니 고객지원 사이트는 하나의 아이디와 비밀번호로 운영됩니다.<br />
                    회원가입을 통해 다양한 서비스를 이용하실 수 있습니다.            
                </p>
                <button type="button" class="black_button">소니스토어 회원 가입</button>
                <div class="light_grey_box">
                    <span class="caution_text flex_center">· 소니코리아 통합 웹회원 정책 상 공식적으로 <span class="caution_text_accent">만 14세 미만의 경우 회원가입이 불가합니다.</span></span>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{/_fragments/_footer :: sony-footer}"></th:block>
    <th:block th:replace="~{/_fragments/_scripts :: sony-scripts}"></th:block>
</body>
</html>